<!-- marketing -->
<section class="section-lg seo">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="seo-image">
          <img class="img-fluid" src="images/marketing/marketing.png" alt="form-img">
        </div>
      </div>
      <div class="col-md-5">
        <h2 class="section-title">Đổi Mới Trong Nghe Nhạc: Ứng Dụng Melody</h2>
        <p>Ứng dụng thông minh Melody hướng đến việc nâng cao trải nghiệm nghe nhạc của người dùng. Sử dụng công nghệ AI
          và mạng lưới kết nối toàn cầu, Melody giúp cá nhân hóa danh sách phát, gợi ý bài hát dựa trên sở thích và tâm
          trạng của người nghe, mang lại những giây phút thư giãn và thưởng thức âm nhạc tuyệt vời.
        </p>
      </div>
    </div>
  </div>
  <!-- background image -->
  <img class="img-fluid seo-bg" src="images/backgrounds/seo-bg.png" alt="seo-bg">
  <!-- background-shape -->
  <img class="seo-bg-shape-1 left-right-animation" src="images/background-shape/seo-ball-1.png" alt="bg-shape">
  <img class="seo-bg-shape-2 up-down-animation" src="images/background-shape/seo-half-cycle.png" alt="bg-shape">
  <img class="seo-bg-shape-3 left-right-animation" src="images/background-shape/seo-ball-2.png" alt="bg-shape">
</section>
<!-- /marketing -->