<!-- service -->
<section class="section-lg service">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-5 order-2 order-md-1">
        <h2 class="section-title">Melody - Ứng Dụng Nghe Nhạc Mạnh Mẽ Từ Đầu Đến Cuối</h2>
        <p class="mb-4">Với nhu cầu ngày càng tăng về giải trí và thư giãn, ứng dụng nghe nhạc của chúng tôi hứa hẹn sẽ
          trở thành trợ thủ đắc lực cho việc thưởng thức âm nhạc và duy trì thói quen sống vui vẻ. Ngoài ra, giải pháp
          của chúng tôi còn tác động tích cực đến nhận thức và thói quen nghe nhạc hàng ngày, đồng thời nâng cao trải
          nghiệm âm nhạc của người dùng, đặc biệt là thế hệ trẻ.</p>
        <ul class="pl-0 service-list">
          <li><i class="ti-layout-tab-window text-purple"></i>Nâng Cao Nhận Thức Về Âm Nhạc Chất Lượng Cao</li>
          <li><i class="ti-layout-placeholder text-purple"></i>Tạo Môi Trường Kết Nối Thông Minh Cho Cộng Đồng Người Yêu Nhạc</li>
          <li><i class="ti-support text-purple"></i>Đưa Ra Các Gợi Ý Âm Nhạc Cá Nhân Hóa Cho Từng Người Dùng</li>
        </ul>
      </div>
      <div class="col-md-7 order-1 order-md-2">
        <img class="img-fluid layer-3" src="images/service/service.png" alt="service">
      </div>
    </div>
  </div>
  <!-- background image -->
  <img class="img-fluid service-bg" src="images/backgrounds/service-bg.png" alt="service-bg">
  <!-- background shapes -->
  <img class="service-bg-shape-1 up-down-animation" src="images/background-shape/service-half-cycle.png"
    alt="background-shape">
  <img class="service-bg-shape-2 left-right-animation" src="images/background-shape/feature-bg-2.png"
    alt="background-shape">
</section>
<!-- /service -->